@model IEnumerable<Project_Ecommr_116_C3.Models.Product>

<form asp-action="Index" asp-controller="Home" method="get">
    <div class="input-group">
        <input type="text" name="searchTerm" placeholder="Search " class="form-control" />
        <div class="input-group-append">
            <select name="searchBy">
                <option value="Title">Title</option>
                <option value="Author">Author</option>
                <option value="All">All</option>
            </select>
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
        
<div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="row p-2 ">
                <div class="col-12  p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card" style="border:0px;">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="pl-1">
                            <p class="card-title h5"><b style="color:#2c3e50">@product.Title</b></p>
                            <p class="card-title text-primary">by <b>@product.Author</b></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p>List Price: <strike><b class="">$@product.ListPrice.ToString("0.00")</b></strike></p>
                        </div>
                        <div style="padding-left:5px;">
                            <p style="color:maroon">As low as: <b class="">$@product.price100.ToString("0.00")</b></p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
